.container {
    margin: auto;
    height: 450px;
    width: 30%;
    background-color: rgb(91, 248, 162);
    
    border-radius: 10px;
}

.head {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.label {
    margin-left: 2.2rem;
    margin-top: 1rem;
    font-size: large;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input {
    margin-left: 2.2rem;
    width: 21rem;
    height: 30px;
    margin-bottom: 1rem;
    margin-top: .5rem;
    border-radius: 7px;
    border-style: none;
    font-size:small;
    font-weight: 700;
}

.btn {
    text-align: center;
    margin-top: 1rem;
    
}
.btn button {
    background-color: green;
    width: 8rem;
    color: white;
    height: 2rem;
    border-radius: 3px;
    border-style: none;
    font-size: medium;
}

.btn button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.err{
    margin: auto;
    background-color: rgb(247, 119, 119);
    text-align: center;
    width: 80%;
    color: aliceblue;
    
}